* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto; 
  gap: 20px 20px; 
  /* grid-auto-flow: row; */
  grid-template-areas :
  
  "header map map"
  "graph1 graph1 graph1"
  "graph2 graph2 graph2"; 
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/* .now {
  grid-area: now;
} */

.map-container {
  grid-area: map;
  width: 600px;
  max-height: 300px;
  overflow: hidden;
}
.section__map{
  width: 600px;
  height: 300px;
  overflow: hidden;
}
.graph1 {
  grid-area: graph1;
}

.elTiempo {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;  
  padding: 0.5rem;
  background-color: #488bff;
  border-radius: 10px;
}
.elTiempo__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(216, 216, 216);
}

.elTiempo__result {
  color: rgb(35, 34, 34);
  margin-bottom: 1rem;
}
.alert-error {
  color: red;
  background-color: white;
  text-align: center;
}

.section__map {
  display: flex;
  /* flex-direction: row;
  justify-content: space-around; */
}

.map__title {
  text-align: center;
}
.map {
  height: 600px;
  width: 100%;
  margin: 0 auto;
}
#map {
  height: 400px;  /* O cualquier altura que desees */
  width: 100%;    /* Asegúrate de que ocupe el ancho disponible */
}

.graph2{
  grid-area:graph2;
  background: red;
}
